<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>

    <servlet>
        <servlet-name>DepServlet</servlet-name>
        <servlet-class>DepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepServlet</servlet-name>
        <url-pattern>/depservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDepServlet</servlet-name>
        <servlet-class>AddDepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDepServlet</servlet-name>
        <url-pattern>/add_department</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelDepServlet</servlet-name>
        <servlet-class>DelDepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelDepServlet</servlet-name>
        <url-pattern>/del_department</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreUpdDepServlet</servlet-name>
        <servlet-class>PreUpdDepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreUpdDepServlet</servlet-name>
        <url-pattern>/pre_upd_department</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdDepServlet</servlet-name>
        <servlet-class>UpdDepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdDepServlet</servlet-name>
        <url-pattern>/upd_department</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SkiServlet</servlet-name>
        <servlet-class>SkiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkiServlet</servlet-name>
        <url-pattern>/skiservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSkiServlet</servlet-name>
        <servlet-class>AddSkiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSkiServlet</servlet-name>
        <url-pattern>/add_skill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelSkiServlet</servlet-name>
        <servlet-class>DelSkiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelSkiServlet</servlet-name>
        <url-pattern>/del_skill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreUpdSkiServlet</servlet-name>
        <servlet-class>PreUpdSkiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreUpdSkiServlet</servlet-name>
        <url-pattern>/pre_upd_skill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdSkiServlet</servlet-name>
        <servlet-class>UpdSkiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdSkiServlet</servlet-name>
        <url-pattern>/upd_skill</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ProServlet</servlet-name>
        <servlet-class>ProServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProServlet</servlet-name>
        <url-pattern>/proservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProServlet</servlet-name>
        <servlet-class>AddProServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProServlet</servlet-name>
        <url-pattern>/add_proff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelProServlet</servlet-name>
        <servlet-class>DelProServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelProServlet</servlet-name>
        <url-pattern>/del_proff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreUpdProServlet</servlet-name>
        <servlet-class>PreUpdProServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreUpdProServlet</servlet-name>
        <url-pattern>/pre_upd_proff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdProServlet</servlet-name>
        <servlet-class>UpdProServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdProServlet</servlet-name>
        <url-pattern>/upd_proff</url-pattern>
    </servlet-mapping>


</web-app>
