<p>
  <b><%=h @task_status.title %></b><br/>
  <%=h(@task_status.description).split("\n").join("<br/>") %><br/>
</p>


<%= link_to 'Редактировать', edit_admin_task_status_path(@task_status) %> |
<%= link_to 'К списку', admin_task_statuses_path %>